automation/workflows/research_to_draft.json
{
  "name": "Research to Draft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,21 * * *"
            }
          ]
        }
      },
      "id": "cc19cfa4-9552-4cdc-a42f-987cd7503f26",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1744,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/9d899a561818444f8de1d7bd72ee1528?v=25390f46679580bcb9bc000cc4a3bf1e",
          "mode": "url"
        },
        "limit": 3,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Should Process|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Research"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Priority|select",
                "direction": "descending"
              },
              {
                "key": "Created Date|created_time",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "id": "02dbc0c8-0163-4bc6-abe7-99849d9360d3",
      "name": "Get Pipeline Items",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -160
      ],
      "credentials": {
        "notionApi": {
          "id": "lC4G957VFihVvFG2",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enhanced research analysis and prompt preparation\n// Leverages all available metadata for richer content generation\n\nconst items = $input.all();\nconst enhancedItems = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  // Extract and validate core properties from Notion data\n  const title = json.property_title || json.name || \"Untitled\";\n  const description = json.property_description || \"No description available\";\n  const contentPillar = json.property_content_pillar || \"Technology Strategy\";\n  const priority = json.property_priority || \"Medium\";\n  const targetAudience = json.property_target_audience || [\"Tech Leaders\"];\n  const seoKeywords = json.property_seo_keywords || \"\";\n  const source = json.property_source || \"Unknown\";\n  const articleLink = json.property_article_link || \"\";\n  const notes = json.property_notes || \"\";\n\n  // Quality scores from Notion\n  const relevanceScore = json.property_relevance_score || 5;\n  const actionabilityScore = json.property_actionability_score || 5;\n  const depthScore = json.property_depth_score || 5;\n  const wordCountTarget = json.property_word_count_target || 1500;\n\n  // Calculate content strategy alignment\n  const pillarWeights = {\n    \"Technology Strategy\": 0.3,\n    \"Leadership & Management\": 0.25,\n    \"Execution & Delivery\": 0.2,\n    \"Founder Lessons\": 0.15,\n    \"Market & Trends\": 0.1,\n  };\n\n  const strategicWeight = pillarWeights[contentPillar] || 0.1;\n  const qualityScore =\n    (relevanceScore * 3 + actionabilityScore * 2 + depthScore) / 6;\n\n  // Content type recommendation based on scores and audience\n  let contentType = \"analysis\";\n  if (actionabilityScore >= 7) contentType = \"practical guide\";\n  if (depthScore >= 8) contentType = \"deep dive\";\n  if (contentPillar === \"Founder Lessons\") contentType = \"case study\";\n\n  // Audience-specific angle suggestions\n  const audienceAngles = {\n    CTOs: \"strategic decision-making and technical leadership perspective\",\n    \"Engineering Managers\": \"team management and technical execution focus\",\n    \"Tech Leaders\": \"leadership and technical strategy balance\",\n    \"Product Managers\": \"product strategy and cross-functional collaboration\",\n    Founders: \"business strategy and scalability implications\",\n    \"VCs & Investors\": \"market opportunity and competitive advantage analysis\",\n  };\n\n  const primaryAudience = Array.isArray(targetAudience)\n    ? targetAudience[0]\n    : \"Tech Leaders\";\n  const audienceAngle =\n    audienceAngles[primaryAudience] || \"practical leadership insights\";\n\n  // SEO keyword enhancement\n  const enhancedKeywords = seoKeywords\n    ? seoKeywords\n        .split(\",\")\n        .map((k) => k.trim())\n        .filter((k) => k.length > 0)\n    : [\n        \"technology leadership\",\n        contentPillar.toLowerCase().replace(\" & \", \" \"),\n      ];\n\n  // Content structure recommendation\n  const structureMap = {\n    \"practical guide\":\n      \"Problem → Solution Framework → Step-by-Step Implementation → Common Pitfalls → Next Actions\",\n    \"deep dive\":\n      \"Context → Technical Analysis → Case Studies → Strategic Implications → Future Outlook\",\n    \"case study\":\n      \"Challenge → Decision Process → Implementation → Results → Lessons Learned\",\n    analysis:\n      \"Current State → Key Insights → Strategic Framework → Practical Applications → Recommendations\",\n  };\n\n  const recommendedStructure =\n    structureMap[contentType] || structureMap[\"analysis\"];\n\n  enhancedItems.push({\n    ...item,\n    json: {\n      ...json,\n      // Enhanced metadata using actual Notion data\n      enhanced_title: title,\n      enhanced_description: description,\n      content_pillar: contentPillar,\n      priority_level: priority,\n      target_audience: targetAudience,\n      primary_audience: primaryAudience,\n      audience_angle: audienceAngle,\n      seo_keywords: enhancedKeywords,\n      source_name: source,\n      article_url: articleLink,\n      research_notes: notes,\n\n      // Quality metrics from Notion\n      relevance_score: relevanceScore,\n      actionability_score: actionabilityScore,\n      depth_score: depthScore,\n      quality_score: qualityScore,\n      strategic_weight: strategicWeight,\n      word_count_target: wordCountTarget,\n\n      // Content strategy\n      content_type: contentType,\n      recommended_structure: recommendedStructure,\n\n      // Processing metadata\n      processing_timestamp: new Date().toISOString(),\n      content_id: json.id,\n      retry_count: 0,\n    },\n  });\n}\n\nconsole.log(\n  `Enhanced ${enhancedItems.length} research items for draft generation`\n);\nreturn enhancedItems;\n"
      },
      "id": "56e28900-a606-4504-8d87-8eaa90b1deb2",
      "name": "Enhance Research Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -848,
        -160
      ],
      "id": "e16e7c1b-bf66-441c-917b-7dddd742ba3e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional content writer specialising in technology leadership and startup strategy. You MUST write in UK English only.\n\n{{ $json.reviewer_feedback ? 'REVISION REQUIRED - Retry Attempt ' + ($json.retry_count || 1) + ' of 3 - Previous Quality Score: ' + $json.previous_quality_score + '/100 - Editor Feedback: ' + $json.reviewer_feedback + ' - IMPORTANT: Address ALL the feedback points above in your revised draft.\\n\\n' : '' }}\n\n## ⚠️ CRITICAL REQUIREMENTS - NON-NEGOTIABLE\n\n1. **WORD COUNT**: EXACTLY {{ $json.word_count_target }} words (±10% maximum: {{ Math.round($json.word_count_target * 0.9) }}-{{ Math.round($json.word_count_target *\n   1.1) }} words)\n\n   - Count your words before submitting\n   - If you exceed the range, you MUST cut content\n   - If you're under the range, you MUST add more depth\n\n2. **UK ENGLISH ONLY**: You MUST use British spellings throughout:\n   - optimise (NOT optimize)\n   - realise (NOT realize)\n   - colour (NOT color)\n   - whilst (NOT while in formal contexts)\n   - organisation (NOT organization)\n   - analyse (NOT analyze)\n   - Any American spellings will result in rejection\n\n## BRAND VOICE & STRATEGY\n\n**Core Purpose:** Build thought leadership whilst generating leads for fractional CTO and coaching services\n**Voice Guidelines:**\n\n- More: Specific examples, personal failures, contrarian opinions, practical frameworks\n- Less: Abstract theory, obvious advice, generic commentary, consulting speak\n- Demonstrate expertise without giving away the shop (80% value, 20% positioning)\n\n## PLATFORM & FORMAT\n\n**Target Channel:** {{ $json.target_channel === 'linkedin-original' ? 'LinkedIn' : ($json.target_channel === 'newsletter' ? 'Newsletter' : 'Blog') }}\n**Content Format:** {{ $json.content_format }}\n**Tone Adjustment:** {{ $json.tone_adjustment }}\n{{ $json.target_channel === 'linkedin-original' ? '**Publishing Day:** ' + $json.linkedin_day.charAt(0).toUpperCase() + $json.linkedin_day.slice(1) : '' }}\n\n{{ $json.target_channel === 'linkedin-original' ? '## LINKEDIN-SPECIFIC REQUIREMENTS\\n- Start with a compelling hook in the first 2 lines\\n- Use short paragraphs (2-3 sentences max)\\n- Include white space for readability\\n- End with a clear question or call-to-action\\n- More conversational and direct than blog content\\n- Focus on ONE key insight or framework' : ($json.target_channel === 'newsletter' ? '## NEWSLETTER-SPECIFIC REQUIREMENTS\\n- Digest format with multiple linked insights\\n- Clear section breaks and scannable structure\\n- Balance depth with brevity\\n- Include links to full articles or resources\\n- Personal intro from Xavier\\n- Weekly theme or connecting thread' : '## BLOG-SPECIFIC REQUIREMENTS\\n- Comprehensive coverage of topic\\n-SEO-optimised structure with H2/H3 headings\\n- Internal linking opportunities\\n- Detailed examples and implementation steps\\n- Longer-form, in-depth analysis') }}\n\n## SOURCE ANALYSIS\n\n**Title:** {{ $json.enhanced_title }}\n**Source:** {{ $json.source_name }}\n**Original Article:** {{ $json.article_url }}\n**Content Pillar:** {{ $json.content_pillar }} ({{ Math.round($json.strategic_weight * 100) }}% of content strategy)\n**Primary Audience:** {{ $json.primary_audience }}\n**Target Audience:** {{ $json.target_audience.join(', ') }}\n**Content Type:** {{ $json.content_type }}\n\n## RESEARCH FOUNDATION\n\n**Description:** {{ $json.enhanced_description }}\n**Research Notes:** {{ $json.research_notes || 'See original article for context' }}\n**Quality Scores:** Relevance: {{ $json.relevance_score }}/10 | Actionability: {{ $json.actionability_score }}/10 | Depth: {{ $json.depth_score }}/10\n**SEO Keywords:** {{ $json.seo_keywords.join(', ') }}\n\n## CONTENT STRUCTURE\n\n**Required Structure:** {{ $json.recommended_structure }}\n**Audience Angle:** Focus on {{ $json.audience_angle }}\n**Tone:** Professional but personal - demonstrate expertise without consulting speak\n\n## STRATEGIC APPROACH\n\n1. **Hook:** Start with a specific, relatable challenge your audience faces\n2. **Authority:** Reference the source material whilst adding your own insights\n3. **Framework:** Provide a clear, actionable framework readers can implement\n4. **Examples:** Include specific numbers, real scenarios, and concrete examples\n5. **Implementation:** Give step-by-step guidance with potential pitfalls\n6. **Next Steps:** End with clear actions readers can take immediately\n\n## QUALITY STANDARDS\n\n- Pass the 'so what?' test - every section must provide clear value\n- Include specific examples and metrics where possible\n- Avoid generic advice - focus on nuanced, experienced insights\n- Balance strategic thinking with practical application\n- Reference but don't copy the source material\n\n## SEO INTEGRATION\n\nNaturally incorporate these keywords: {{ $json.seo_keywords.slice(0, 5).join(', ') }}\nFocus keyword: {{ $json.seo_keywords[0] || $json.content_pillar.toLowerCase() }}\n\n## FINAL CHECKLIST BEFORE SUBMITTING:\n\n- Word count is between {{ Math.round($json.word_count_target * 0.9) }}-{{ Math.round($json.word_count_target * 1.1) }} words\n- All spellings are UK English (optimise, realise, colour, organisation, analyse)\n- Structure follows: {{ $json.recommended_structure }}\n- Includes specific examples with numbers\n- Ends with clear next steps\n\nWrite the article now for {{ $json.primary_audience.toLowerCase() }} audience.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "id": "dbaeffda-ef97-465b-aac1-3b9f7fda170d",
      "name": "Generate Enhanced Draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        -128
      ],
      "credentials": {
        "openAiApi": {
          "id": "rkhOcSQmlsa0zqls",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Quality validation and content analysis\n// Validates generated content meets quality standards\n\nconst generatedContent = $input.item.json;\nconst researchData = $(\"Enhance Research Data\").item.json;\nconst contentText = generatedContent.message?.content || \"\";\n\n// Content quality checks\nconst wordCount = contentText\n  .split(/\\s+/)\n  .filter((word) => word.length > 0).length;\nconst targetWordCount = researchData.word_count_target || 1500;\nconst wordCountVariance =\n  Math.abs(wordCount - targetWordCount) / targetWordCount;\n\n// Structure validation\nconst hasHeadings = /#{1,3}\\s/.test(contentText);\nconst hasSections = contentText.split(\"\\n\\n\").length >= 5;\nconst hasConclusion = /(?:conclusion|next steps|summary|takeaway)/i.test(\n  contentText\n);\n\n// Content quality indicators\nconst hasSpecificExamples =\n  /\\d+[%$£€]|\\d+\\s*(?:users|customers|employees|teams)/i.test(contentText);\nconst hasActionableAdvice =\n  /(?:step|action|implement|process|method|framework)/i.test(contentText);\nconst hasUKSpelling = /(?:colour|optimise|realise|whilst)/i.test(contentText);\n\n// SEO keyword integration check\nconst seoKeywords = researchData.seo_keywords || [];\nconst keywordIntegration =\n  seoKeywords.filter((keyword) => new RegExp(keyword, \"i\").test(contentText))\n    .length / Math.max(seoKeywords.length, 1);\n\n// Calculate quality score\nlet qualityScore = 0;\nif (wordCountVariance < 0.2) qualityScore += 20; // Word count within 20%\nif (hasHeadings) qualityScore += 15;\nif (hasSections) qualityScore += 15;\nif (hasConclusion) qualityScore += 10;\nif (hasSpecificExamples) qualityScore += 15;\nif (hasActionableAdvice) qualityScore += 15;\nif (hasUKSpelling) qualityScore += 5;\nif (keywordIntegration >= 0.5) qualityScore += 5;\n\n// Quality assessment\nlet qualityLevel = \"Poor\";\nif (qualityScore >= 80) qualityLevel = \"Excellent\";\nelse if (qualityScore >= 65) qualityLevel = \"Good\";\nelse if (qualityScore >= 50) qualityLevel = \"Acceptable\";\n\n// Create quality report\nconst qualityReport = {\n  overall_score: qualityScore,\n  quality_level: qualityLevel,\n  word_count: wordCount,\n  target_word_count: targetWordCount,\n  word_count_variance: Math.round(wordCountVariance * 100),\n  structure_score:\n    (hasHeadings ? 15 : 0) + (hasSections ? 15 : 0) + (hasConclusion ? 10 : 0),\n  content_score:\n    (hasSpecificExamples ? 15 : 0) + (hasActionableAdvice ? 15 : 0),\n  seo_integration: Math.round(keywordIntegration * 100),\n  uk_spelling_check: hasUKSpelling,\n  validation_timestamp: new Date().toISOString(),\n};\n\nconsole.log(`Content Quality Assessment:`);\nconsole.log(`  Overall Score: ${qualityScore}/100 (${qualityLevel})`);\nconsole.log(\n  `  Word Count: ${wordCount}/${targetWordCount} (${Math.round(\n    wordCountVariance * 100\n  )}% variance)`\n);\nconsole.log(`  SEO Integration: ${Math.round(keywordIntegration * 100)}%`);\nconsole.log(`  UK Spelling: ${hasUKSpelling ? \"Present\" : \"Missing\"}`);\n\nreturn {\n  json: {\n    // Original research data\n    ...researchData,\n\n    // Generated content\n    generated_content: contentText,\n    draft_title: researchData.enhanced_title,\n\n    // Quality validation\n    quality_report: qualityReport,\n\n    // Processing metadata\n    generation_timestamp: new Date().toISOString(),\n    needs_manual_review: qualityScore < 65,\n  },\n};\n"
      },
      "id": "ce577b1b-4c40-48b6-a532-81e1fa476e5b",
      "name": "Validate Content Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -128
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/08f0fbde307649f18e82810b2a345c88?v=25390f46679580bcb9bc000cc4a3bf1e&source=copy_link",
          "mode": "url"
        },
        "title": "={{ $('Validate Content Quality').item.json.draft_title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Content Type|select",
              "selectValue": "Blog Post"
            },
            {
              "key": "Platform|select",
              "selectValue": "Xavierfuentes.com"
            },
            {
              "key": "Status|select",
              "selectValue": "Draft"
            },
            {
              "key": "Word Count|number",
              "numberValue": "={{ $('Validate Content Quality').item.json.quality_report.word_count }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "=Quality Score: {{ $('Validate Content Quality').item.json.quality_report.overall_score }}/100 ({{ $('Validate Content Quality').item.json.quality_report.quality_level }}). Needs Review: {{ $('Validate Content Quality').item.json.needs_manual_review ? \n  'Yes' : 'No' }}"
            },
            {
              "key": "Draft URL|url",
              "urlValue": "={{ $('Prepare GitHub File').item.json.file_path ? 'https://github.com/xavierfuentes/xavierfuentes.com/blob/main/' + $('Prepare GitHub File').item.json.file_path : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "614b4d45-c786-40e4-997a-3d661b23929d",
      "name": "Create Content Asset",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        48
      ],
      "credentials": {
        "notionApi": {
          "id": "lC4G957VFihVvFG2",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Enhance Research Data').item.json.content_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "25324dba-515c-4eab-9b69-bd82dd216342",
      "name": "Update Pipeline Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1424,
        48
      ],
      "credentials": {
        "notionApi": {
          "id": "lC4G957VFihVvFG2",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all processing results into summary\n// Collects data from all processed items for final report\n\n// Note: This runs after the loop completes, so we need to look at all previous executions\nconst allItems = [];\nconst validationNodes = $('Validate Content Quality').all();\n\nlet successCount = 0;\nlet totalProcessed = 0;\nlet needsReviewCount = 0;\nconst processedItems = [];\n\nfor (const item of validationNodes) {\n  totalProcessed++;\n  const data = item.json;\n  \n  if (data.quality_report) {\n    successCount++;\n    \n    if (data.needs_manual_review) {\n      needsReviewCount++;\n    }\n    \n    processedItems.push({\n      title: data.draft_title,\n      quality_score: data.quality_report.overall_score,\n      quality_level: data.quality_report.quality_level,\n      word_count: data.quality_report.word_count,\n      needs_review: data.needs_manual_review,\n      content_id: data.content_id,\n      pillar: data.content_pillar\n    });\n  }\n}\n\nconst errorCount = totalProcessed - successCount;\n\n// Build summary email\nlet emailBody = `<h2>📊 Research to Draft Workflow Complete</h2>\\n\\n`;\n\nemailBody += `<h3>Summary</h3>\\n`;\nemailBody += `<ul>\\n`;\nemailBody += `  <li><strong>Total Items:</strong> ${totalProcessed}</li>\\n`;\nemailBody += `  <li><strong>✅ Successful:</strong> ${successCount}</li>\\n`;\nemailBody += `  <li><strong>❌ Failed:</strong> ${errorCount}</li>\\n`;\nemailBody += `  <li><strong>⚠️ Needs Review:</strong> ${needsReviewCount}</li>\\n`;\nemailBody += `</ul>\\n\\n`;\n\nif (processedItems.length > 0) {\n  emailBody += `<h3>📝 Generated Drafts</h3>\\n`;\n  emailBody += `<table style=\"border-collapse: collapse; width: 100%;\">\\n`;\n  emailBody += `  <tr style=\"background-color: #f0f0f0;\">\\n`;\n  emailBody += `    <th style=\"border: 1px solid #ddd; padding: 8px; text-align: left;\">Title</th>\\n`;\n  emailBody += `    <th style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">Quality</th>\\n`;\n  emailBody += `    <th style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">Words</th>\\n`;\n  emailBody += `    <th style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">Status</th>\\n`;\n  emailBody += `  </tr>\\n`;\n  \n  for (const item of processedItems) {\n    const reviewBadge = item.needs_review ? '⚠️ Review' : '✅ Ready';\n    const qualityColor = item.quality_score >= 80 ? '#4CAF50' : item.quality_score >= 65 ? '#FF9800' : '#F44336';\n    \n    emailBody += `  <tr>\\n`;\n    emailBody += `    <td style=\"border: 1px solid #ddd; padding: 8px;\">${item.title}</td>\\n`;\n    emailBody += `    <td style=\"border: 1px solid #ddd; padding: 8px; text-align: center; background-color: ${qualityColor}; color: white; font-weight: bold;\">${item.quality_score}</td>\\n`;\n    emailBody += `    <td style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">${item.word_count}</td>\\n`;\n    emailBody += `    <td style=\"border: 1px solid #ddd; padding: 8px; text-align: center;\">${reviewBadge}</td>\\n`;\n    emailBody += `  </tr>\\n`;\n  }\n  \n  emailBody += `</table>\\n\\n`;\n}\n\nemailBody += `<h3>🔗 Quick Links</h3>\\n`;\nemailBody += `<ul>\\n`;\nemailBody += `  <li><a href=\"https://www.notion.so/0d7b48da0a604c348fecbb1617b8c8a6\">Content Assets Database</a></li>\\n`;\nemailBody += `  <li><a href=\"https://www.notion.so/9d899a561818444f8de1d7bd72ee1528\">Content Pipeline</a></li>\\n`;\nemailBody += `</ul>\\n\\n`;\n\nemailBody += `<hr>\\n`;\nemailBody += `<p><small>Completed at ${new Date().toLocaleString('en-GB', { timeZone: 'Europe/London' })}</small></p>`;\n\nlet subjectPrefix = '✅';\nif (errorCount > 0) subjectPrefix = '⚠️';\nelse if (needsReviewCount > 0) subjectPrefix = '📝';\n\nreturn [{\n  json: {\n    subject: `${subjectPrefix} Draft Generation Complete: ${successCount}/${totalProcessed} successful`,\n    body: emailBody,\n    total_processed: totalProcessed,\n    success_count: successCount,\n    error_count: errorCount,\n    needs_review_count: needsReviewCount\n  }\n}];"
      },
      "id": "f1352ffd-cfd3-4751-a226-6fb1c4486963",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -320
      ]
    },
    {
      "parameters": {
        "fromEmail": "x@xavi.cc",
        "toEmail": "x@xavi.cc",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.body }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "1783fa4a-86ff-4eac-bc83-06895452a27a",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -272,
        -320
      ],
      "webhookId": "8a189fb2-54e9-4187-aea8-cb6b4bd21225",
      "credentials": {
        "smtp": {
          "id": "mI3xQSjzFfN7X5DY",
          "name": "Apple"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Increment retry counter to prevent infinite loops\n// Tracks how many times we've attempted to improve this draft\n\nconst currentData = $input.item.json;\nconst currentRetryCount = currentData.retry_count || 0;\nconst newRetryCount = currentRetryCount + 1;\n\nconsole.log(\n  `Retry attempt ${newRetryCount}/3 for: ${currentData.enhanced_title}`\n);\n\nreturn {\n  json: {\n    ...currentData,\n    retry_count: newRetryCount,\n    last_retry_timestamp: new Date().toISOString(),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -160
      ],
      "id": "eed3b07d-48a2-44bc-a002-e848f1f7ec1e",
      "name": "Increment Retry Counter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior content editor reviewing an AI-generated article draft. Your job is to provide specific, actionable feedback to improve the content quality.\n\n  ## ORIGINAL REQUIREMENTS\n  **Title:** {{ $json.enhanced_title }}\n  **Content Pillar:** {{ $json.content_pillar }}\n  **Target Audience:** {{ $json.primary_audience }}\n  **Word Count Target:** {{ $json.word_count_target }} words\n  **Required Structure:** {{ $json.recommended_structure }}\n\n  ## CURRENT DRAFT\n  {{ $json.generated_content }}\n\n  ## QUALITY ASSESSMENT\n  **Overall Score:** {{ $json.quality_report.overall_score }}/100 ({{ $json.quality_report.quality_level }})\n  **Issues Found:**\n  - Word Count: {{ $json.quality_report.word_count }} words (target: {{ $json.quality_report.target_word_count }}) - {{ $json.quality_report.word_count_variance }}% variance\n  - Structure Score: {{ $json.quality_report.structure_score }}/40\n  - Content Score: {{ $json.quality_report.content_score }}/30\n  - SEO Integration: {{ $json.quality_report.seo_integration }}%\n  - UK Spelling: {{ $json.quality_report.uk_spelling_check ? 'Present' : 'Missing' }}\n\n  ## YOUR TASK\n  Provide specific, actionable feedback to improve this draft. Focus on the weakest areas identified above. Format your response as:\n\n  **What needs fixing:**\n  [List 3-5 specific issues]\n\n  **How to fix it:**\n  [Provide concrete suggestions for each issue]\n\n  **Revised approach:**\n  [Suggest a better angle or structure if needed]\n\n  Be direct and specific. The AI will use your feedback to regenerate the content."
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        176,
        -224
      ],
      "id": "7471c88f-da37-41a7-a19b-253d5e9e4bff",
      "name": "AI Reviewer",
      "credentials": {
        "openAiApi": {
          "id": "rkhOcSQmlsa0zqls",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge reviewer feedback into data for regeneration\n// Injects specific improvement instructions into the prompt data\n\nconst currentData = $input.item.json;\nconst reviewerFeedback =\n  currentData.message?.content || \"No specific feedback provided\";\n\nconsole.log(`Adding reviewer feedback for retry attempt`);\nconsole.log(`Feedback length: ${reviewerFeedback.length} characters`);\n\nreturn {\n  json: {\n    ...currentData,\n    // Add reviewer feedback to be used in regeneration prompt\n    reviewer_feedback: reviewerFeedback,\n\n    // Keep quality report from previous attempt for comparison\n    previous_quality_score: currentData.quality_report?.overall_score || 0,\n    previous_attempt_content: currentData.generated_content,\n\n    // Clear the old generated content so AI starts fresh\n    generated_content: null,\n\n    // Preserve all other metadata\n    feedback_timestamp: new Date().toISOString(),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -224
      ],
      "id": "a0f84256-00dd-4c6e-8143-c80fb07b8cb9",
      "name": "Merge Feedback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "23b5463b-d478-4101-9089-4fe2ad634db6",
              "leftValue": "={{ $json.quality_report.overall_score }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "a5a2bb27-02cd-4518-a267-d3997c2b2a1f",
              "leftValue": "={{ $json.retry_count || 0 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        -128
      ],
      "id": "d72c0d68-0344-483b-8215-da63e2e9b537",
      "name": "Check Quality & Retry Limit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Generate markdown file for GitHub draft\nconst item = $input.item.json;\n\n// Create slug from title\nconst slug = item.enhanced_title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, \"-\")\n  .replace(/^-|-$/g, \"\");\n\n// Format tags from content pillar and SEO keywords\nconst tags = [\n  item.content_pillar,\n  ...(item.seo_keywords || []).slice(0, 3),\n].filter(Boolean);\n\n// Clean and prepare fields that may contain special YAML characters\nconst cleanForYaml = (str) => {\n  return (str || \"\")\n    .replace(/<[^>]*>/g, \" \") // Remove HTML tags\n    .replace(/&[^;]+;/g, \" \") // Remove HTML entities\n    .replace(/\\s+/g, \" \") // Normalize whitespace\n    .replace(/\"/g, '\\\\\"') // Escape quotes\n    .trim()\n    .substring(0, 160); // Limit length for meta description;\n};\n\nconst frontmatterFields = [\n  `title: \"${cleanForYaml(item.enhanced_title)}\"`,\n  `slug: ${slug}`,\n  `status: draft`,\n  `visibility: public`,\n  `featured: false`,\n  `meta_title: \"${cleanForYaml(item.enhanced_title)}\"`,\n  `meta_description: \"${cleanForYaml(\n    item.enhanced_description || item.enhanced_title\n  )}\"`,\n  `target_channel: ${item.target_channel}`,\n];\n\n\n// Add LinkedIn-specific fields\nif (item.target_channel === \"linkedin-original\") {\n  frontmatterFields.push(`linkedin_day: ${item.linkedin_day}`);\n}\n\n// Add blog-specific fields\nif (item.target_channel === \"blog\" && item.will_generate_linkedin_promo) {\n  frontmatterFields.push(`will_generate_linkedin_promo: true`);\n}\n\n// Generate frontmatter and content\nconst markdown = `---\n${frontmatterFields.join(\"\\n\")}\ntags:\n${tags.map((tag) => `  - ${tag}`).join(\"\\n\")}\nauthors:\n  - xavier\n---\n\n${item.generated_content}\n\n---\n\n*AI-generated draft - Quality Score: ${\n  item.quality_report?.overall_score || 0\n}/100*`;\n\n\n// Generate filename with date prefix\nconst now = new Date();\nconst datePrefix = now.toISOString().split(\"T\")[0]; // YYYY-MM-DD format\nconst filename = `${datePrefix}-${slug}.md`;\n\n// Route to appropriate directory based on channel\nlet directory;\nif (item.target_channel === \"linkedin-original\") {\n  directory = \"content/linkedin\";\n} else if (item.target_channel === \"newsletter\") {\n  directory = \"content/newsletter\";\n} else {\n  // blog channel\n  directory = \"content/drafts\";\n}\n\nreturn {\n  json: {\n    ...item,\n    markdown_content: markdown,\n    filename: filename,\n    file_path: `${directory}/${filename}`,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "e11fb8cc-f6de-4cf7-83e3-1bba690c1e9b",
      "name": "Prepare GitHub File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "xavierfuentes",
          "mode": "list",
          "cachedResultName": "xavierfuentes",
          "cachedResultUrl": "https://github.com/xavierfuentes"
        },
        "repository": {
          "__rl": true,
          "value": "xavierfuentes.com",
          "mode": "list",
          "cachedResultName": "xavierfuentes.com",
          "cachedResultUrl": "https://github.com/xavierfuentes/xavierfuentes.com"
        },
        "filePath": "={{ $('Prepare GitHub File').item.json.file_path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        528,
        -32
      ],
      "id": "f4ea8af0-cacd-4910-930c-2ab85269c57f",
      "name": "Check if File Exists",
      "webhookId": "check-file-exists-webhook",
      "credentials": {
        "githubOAuth2Api": {
          "id": "cN5XUzR6Vu9DDZCZ",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "file-exists-condition",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        48
      ],
      "id": "89892381-f3db-4f32-925c-977e36cb88ee",
      "name": "File Exists?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "xavierfuentes",
          "mode": "list",
          "cachedResultName": "xavierfuentes",
          "cachedResultUrl": "https://github.com/xavierfuentes"
        },
        "repository": {
          "__rl": true,
          "value": "xavierfuentes.com",
          "mode": "list",
          "cachedResultName": "xavierfuentes.com",
          "cachedResultUrl": "https://github.com/xavierfuentes/xavierfuentes.com"
        },
        "filePath": "={{ $('Prepare GitHub File').item.json.file_path }}",
        "fileContent": "={{ $('Prepare GitHub File').item.json.markdown_content }}",
        "commitMessage": "={{ 'chore: update AI draft - ' + $('Prepare GitHub File').item.json.enhanced_title }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        -64
      ],
      "id": "284ac1f9-12da-4cf0-b372-b3f08cc2873a",
      "name": "Update Existing Draft",
      "webhookId": "update-existing-draft-webhook",
      "credentials": {
        "githubOAuth2Api": {
          "id": "cN5XUzR6Vu9DDZCZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "xavierfuentes",
          "mode": "list",
          "cachedResultName": "xavierfuentes",
          "cachedResultUrl": "https://github.com/xavierfuentes"
        },
        "repository": {
          "__rl": true,
          "value": "xavierfuentes.com",
          "mode": "list",
          "cachedResultName": "xavierfuentes.com",
          "cachedResultUrl": "https://github.com/xavierfuentes/xavierfuentes.com"
        },
        "filePath": "={{ $('Prepare GitHub File').item.json.file_path }}",
        "fileContent": "={{ $('Prepare GitHub File').item.json.markdown_content }}",
        "commitMessage": "={{ 'chore: add AI draft - ' + $('Prepare GitHub File').item.json.enhanced_title }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        144
      ],
      "id": "59ffb8d8-6472-4add-abe9-4e8ee61d459d",
      "name": "Create New Draft",
      "webhookId": "create-new-draft-webhook",
      "credentials": {
        "githubOAuth2Api": {
          "id": "cN5XUzR6Vu9DDZCZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine optimal content channel based on research data\n// Routes content to appropriate format (blog, linkedin-original, newsletter)\n\nconst items = $input.all();\nconst enhancedItems = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  // Extract key metrics\n  const wordCountTarget = json.word_count_target || 1500;\n  const actionabilityScore = json.actionability_score || 5;\n  const depthScore = json.depth_score || 5;\n  const contentPillar = json.content_pillar || \"\";\n  const contentType = json.content_type || \"\";\n\n  // Channel determination logic\n  let targetChannel = \"blog\"; // default\n  let contentFormat = \"long-form\";\n  let toneAdjustment = \"comprehensive\";\n  let willGenerateLinkedinPromo = false;\n  let linkedinDay = \"various\";\n\n  // Newsletter criteria: Market trends or very long content\n  if (contentPillar === \"Market & AI Trends\" || wordCountTarget > 2500) {\n    targetChannel = \"newsletter\";\n    contentFormat = \"digest\";\n    toneAdjustment = \"informative\";\n  }\n  // LinkedIn Original criteria\n  else if (wordCountTarget < 1000) {\n    targetChannel = \"linkedin-original\";\n    contentFormat = \"social-post\";\n    toneAdjustment = \"conversational\";\n  }\n  // High actionability = LinkedIn\n  else if (actionabilityScore >= 7 && wordCountTarget <= 1200) {\n    targetChannel = \"linkedin-original\";\n    contentFormat = \"framework-share\";\n    toneAdjustment = \"actionable\";\n  }\n  // Framework/template content = LinkedIn\n  else if (contentType === \"practical guide\" && wordCountTarget < 1000) {\n    targetChannel = \"linkedin-original\";\n    contentFormat = \"template-share\";\n    toneAdjustment = \"practical\";\n  }\n  // Personal lessons = LinkedIn (Thursday posts)\n  else if (contentPillar === \"Founder Lessons\" && wordCountTarget < 800) {\n    targetChannel = \"linkedin-original\";\n    contentFormat = \"personal-story\";\n    toneAdjustment = \"personal\";\n  }\n  // Blog: Long-form content with depth\n  else if (\n    wordCountTarget >= 1000 &&\n    wordCountTarget <= 2500 &&\n    depthScore >= 7\n  ) {\n    targetChannel = \"blog\";\n    contentFormat = \"long-form\";\n    toneAdjustment = \"comprehensive\";\n    willGenerateLinkedinPromo = true; // Blog posts get LinkedIn promotions\n  }\n\n  // Determine LinkedIn post day based on content type (for linkedin-original only)\n  if (targetChannel === \"linkedin-original\") {\n    if (\n      contentFormat === \"framework-share\" ||\n      contentFormat === \"template-share\"\n    ) {\n      linkedinDay = \"tuesday\";\n    } else if (\n      contentPillar === \"Technology Strategy\" ||\n      contentType === \"analysis\"\n    ) {\n      linkedinDay = \"wednesday\";\n    } else if (contentFormat === \"personal-story\") {\n      linkedinDay = \"thursday\";\n    }\n  }\n\n  // Calculate adjusted word count for channel\n  let adjustedWordCount = wordCountTarget;\n  if (targetChannel === \"linkedin-original\") {\n    // LinkedIn posts are typically 200-800 words\n    adjustedWordCount = Math.min(wordCountTarget, 800);\n    adjustedWordCount = Math.max(adjustedWordCount, 250);\n  } else if (targetChannel === \"newsletter\") {\n    // Newsletter can be longer\n    adjustedWordCount = Math.max(wordCountTarget, 1000);\n  }\n\n  console.log(`Content: ${json.enhanced_title}`);\n  console.log(`  Channel: ${targetChannel} (${contentFormat})`);\n  console.log(`  Adjusted word count: ${adjustedWordCount}`);\n  console.log(`  LinkedIn day: ${linkedinDay}`);\n  console.log(`  Will generate LinkedIn promo: ${willGenerateLinkedinPromo}`);\n\n  enhancedItems.push({\n    ...item,\n    json: {\n      ...json,\n      // Channel routing\n      target_channel: targetChannel,\n      content_format: contentFormat,\n      tone_adjustment: toneAdjustment,\n      linkedin_day: linkedinDay,\n      adjusted_word_count: adjustedWordCount,\n      will_generate_linkedin_promo: willGenerateLinkedinPromo,\n\n      // Update word count target for generation\n      word_count_target: adjustedWordCount,\n    },\n  });\n}\n\nconsole.log(`Processed ${enhancedItems.length} items for channel routing`);\nreturn enhancedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -160
      ],
      "id": "ed65df46-a3eb-4996-8ce5-fbd97419c179",
      "name": "Determine Content Format"
    },
    {
      "parameters": {
        "fromEmail": "x@xavi.cc",
        "toEmail": "me@xavierfuentes.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.body }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "7adf102b-6886-4c6a-9ff3-1cce0dd377f2",
      "name": "Send Draft Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1872,
        112
      ],
      "webhookId": "9226971b-c7ef-4726-902c-fba68cec1b78",
      "credentials": {
        "smtp": {
          "id": "mI3xQSjzFfN7X5DY",
          "name": "Apple"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive email notification with the actual draft content\nconst contentData = $(\"Validate Content Quality\").item.json;\nconst qualityReport = contentData.quality_report;\n\n// Build email content\nlet emailBody = `<h2>AI Draft Generated - \n  ${contentData.draft_title}</h2>\\n\\n`;\n\n// Quality summary (simplified)\nlet qualityEmoji = \"🔴\";\nif (qualityReport.overall_score >= 80) qualityEmoji = \"🟢\";\nelse if (qualityReport.overall_score >= 65) qualityEmoji = \"🟡\";\n\nemailBody += `<h3>${qualityEmoji} Quality: ${qualityReport.overall_score}/100 \n  (${qualityReport.quality_level})</h3>\\n`;\nemailBody += `<p>Word Count: \n  ${qualityReport.word_count}/${qualityReport.target_word_count} | SEO: \n  ${qualityReport.seo_integration}% | UK Spelling: \n  ${qualityReport.uk_spelling_check ? \"✅\" : \"❌\"}</p>\\n\\n`;\n\n// The actual draft content\nemailBody += `<hr>\\n`;\nemailBody += `<h3>📝 Draft Content</h3>\\n`;\nemailBody += `<div style=\"background-color: #f5f5f5; padding: 20px; \n  border-left: 4px solid #0066cc;\">\\n`;\nemailBody += contentData.generated_content.replace(/\\n/g, \"<br>\\n\");\nemailBody += `</div>\\n\\n`;\n\nemailBody += `<hr>\\n`;\nemailBody += `<p><small>Generated at ${new Date().toLocaleString(\"en-GB\", {\n  timeZone: \"Europe/London\",\n})}</small></p>`;\n\nreturn [\n  {\n    json: {\n      subject: `AI Draft Ready: ${contentData.enhanced_title}`,\n      body: emailBody,\n      quality_score: qualityReport.overall_score,\n      needs_review: contentData.needs_manual_review,\n      content_title: contentData.enhanced_title,\n    },\n  },\n];\n"
      },
      "id": "3ed6ef9e-a50a-43d2-9a87-c85a4bcd0e60",
      "name": "Prepare Draft Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pipeline Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipeline Items": {
      "main": [
        [
          {
            "node": "Enhance Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Research Data": {
      "main": [
        [
          {
            "node": "Determine Content Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Enhanced Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Enhanced Draft": {
      "main": [
        [
          {
            "node": "Validate Content Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content Quality": {
      "main": [
        [
          {
            "node": "Check Quality & Retry Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Content Asset": {
      "main": [
        [
          {
            "node": "Update Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pipeline Status": {
      "main": [
        [
          {
            "node": "Prepare Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry Counter": {
      "main": [
        [
          {
            "node": "Generate Enhanced Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reviewer": {
      "main": [
        [
          {
            "node": "Merge Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Feedback": {
      "main": [
        [
          {
            "node": "Increment Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality & Retry Limit": {
      "main": [
        [
          {
            "node": "AI Reviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub File": {
      "main": [
        [
          {
            "node": "Check if File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Exists": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update Existing Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Draft": {
      "main": [
        [
          {
            "node": "Create Content Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Draft": {
      "main": [
        [
          {
            "node": "Create Content Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Content Format": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft Email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Email": {
      "main": [
        [
          {
            "node": "Send Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24e1f003-8b4f-4a7a-8949-67c39ead4ffa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d052f68fee6cbc1f0a1b7b4daa7281384655d7a51d1cb62c7e57bbd86329486d"
  },
  "id": "WZ2PTopzKuHpS25J",
  "tags": []
}