workflows/n8n/rss_to_research.json
{
  "name": "RSS to Research",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Runs hourly to fetch new RSS articles"
    },
    {
      "parameters": {
        "operation": "getMany",
        "dataTableId": "rss_sources",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "field": "active",
              "operator": "equal",
              "value": true
            }
          ]
        },
        "options": {
          "sort": {
            "sortFieldsUi": {
              "sortField": [
                {
                  "fieldName": "priority",
                  "order": "DESC"
                }
              ]
            }
          }
        }
      },
      "id": "get-active-sources",
      "name": "Get Active RSS Sources",
      "type": "@n8n/n8n-nodes-langchain.dataTable",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {},
      "id": "loop-sources",
      "name": "Loop Through Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; XavierFuentes.com RSS Reader)"
            }
          ]
        }
      },
      "id": "fetch-rss",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "xmlToJson",
        "options": {}
      },
      "id": "parse-xml",
      "name": "Parse RSS/Atom XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract items from RSS 2.0 or Atom feed\nconst data = items[0].json.data;\nconst sourceInfo = items[0].json;\n\nlet feedItems = [];\n\n// Try RSS 2.0 format\nif (data.rss && data.rss.channel && data.rss.channel.item) {\n  const rssItems = Array.isArray(data.rss.channel.item) \n    ? data.rss.channel.item \n    : [data.rss.channel.item];\n  \n  feedItems = rssItems.map(item => ({\n    title: item.title,\n    url: item.link,\n    guid: item.guid && typeof item.guid === 'object' ? item.guid._ : (item.guid || item.link),\n    description: item.description || item['content:encoded'] || '',\n    source_name: sourceInfo.name,\n    content_pillar: sourceInfo.content_pillar,\n    source_priority: sourceInfo.priority\n  }));\n}\n// Try Atom format\nelse if (data.feed && data.feed.entry) {\n  const atomEntries = Array.isArray(data.feed.entry) \n    ? data.feed.entry \n    : [data.feed.entry];\n  \n  feedItems = atomEntries.map(entry => {\n    const link = Array.isArray(entry.link) \n      ? entry.link.find(l => l.$.rel === 'alternate' || !l.$.rel)?.$.href || entry.link[0].$.href\n      : entry.link?.$.href || '';\n    \n    return {\n      title: entry.title,\n      url: link,\n      guid: entry.id || link,\n      description: entry.summary || entry.content?.$?._ || entry.content || '',\n      source_name: sourceInfo.name,\n      content_pillar: sourceInfo.content_pillar,\n      source_priority: sourceInfo.priority\n    };\n  });\n}\n\n// Return items (limit to 10 most recent per feed)\nreturn feedItems.slice(0, 10).map(item => ({ json: item }));"
      },
      "id": "extract-items",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {},
      "id": "loop-articles",
      "name": "Loop Through Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "operation": "getMany",
        "dataTableId": "research_items",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "field": "guid",
              "operator": "equal",
              "value": "={{ $json.guid }}"
            }
          ]
        }
      },
      "id": "check-exists",
      "name": "Check If Exists",
      "type": "@n8n/n8n-nodes-langchain.dataTable",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length || 0 }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "is-new",
      "name": "Is New Article?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "message": "=You are scoring RSS articles for a fractional CTO's research pipeline.\n\nTarget audience: CTOs, Engineering Managers, Tech Leaders, Product Managers, Founders\n\nScore this article on a scale of 1-10 based on:\n- RELEVANCE: How relevant to tech leadership challenges?\n- ACTIONABILITY: Does it offer practical frameworks or advice?\n- DEPTH: Does it go beyond surface-level observations?\n\nArticle:\nTitle: {{ $json.title }}\nSource: {{ $json.source_name }} ({{ $json.source_priority }} priority)\nPillar: {{ $json.content_pillar }}\nDescription: {{ $json.description.substring(0, 500) }}\n\nReturn ONLY valid JSON:\n{\"score\": 7.5, \"reason\": \"Brief 1-sentence explanation\"}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 100
        }
      },
      "id": "score-article",
      "name": "Score Article",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [2230, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "notes": "Using gpt-4o-mini for cost-effective scoring"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\n// Extract score from AI response\nlet score = 5.0;\nlet reason = '';\n\ntry {\n  const responseText = item.message?.content || item.text || '{}';\n  const parsed = JSON.parse(responseText);\n  score = parseFloat(parsed.score) || 5.0;\n  reason = parsed.reason || '';\n} catch (e) {\n  reason = 'Scoring failed - default score applied';\n}\n\n// Generate UUID\nconst crypto = require('crypto');\nconst id = crypto.randomUUID();\n\n// Today's date\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    id: id,\n    guid: item.guid,\n    title: item.title,\n    url: item.url,\n    source_name: item.source_name,\n    content_pillar: item.content_pillar,\n    description: (item.description || '').substring(0, 500),\n    quality_score: score,\n    status: 'new',\n    created_date: today,\n    notes: reason,\n    idea_id: null\n  }\n}];"
      },
      "id": "prepare-item",
      "name": "Prepare Research Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "dataTableId": "research_items",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "id", "fieldValue": "={{ $json.id }}" },
            { "fieldName": "guid", "fieldValue": "={{ $json.guid }}" },
            { "fieldName": "title", "fieldValue": "={{ $json.title }}" },
            { "fieldName": "url", "fieldValue": "={{ $json.url }}" },
            { "fieldName": "source_name", "fieldValue": "={{ $json.source_name }}" },
            { "fieldName": "content_pillar", "fieldValue": "={{ $json.content_pillar }}" },
            { "fieldName": "description", "fieldValue": "={{ $json.description }}" },
            { "fieldName": "quality_score", "fieldValue": "={{ $json.quality_score }}" },
            { "fieldName": "status", "fieldValue": "={{ $json.status }}" },
            { "fieldName": "created_date", "fieldValue": "={{ $json.created_date }}" },
            { "fieldName": "notes", "fieldValue": "={{ $json.notes }}" },
            { "fieldName": "idea_id", "fieldValue": "={{ $json.idea_id }}" }
          ]
        }
      },
      "id": "insert-research",
      "name": "Insert Research Item",
      "type": "@n8n/n8n-nodes-langchain.dataTable",
      "typeVersion": 1,
      "position": [2670, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Active RSS Sources", "type": "main", "index": 0 }]]
    },
    "Get Active RSS Sources": {
      "main": [[{ "node": "Loop Through Sources", "type": "main", "index": 0 }]]
    },
    "Loop Through Sources": {
      "main": [
        [{ "node": "Fetch RSS Feed", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch RSS Feed": {
      "main": [[{ "node": "Parse RSS/Atom XML", "type": "main", "index": 0 }]]
    },
    "Parse RSS/Atom XML": {
      "main": [[{ "node": "Extract Items", "type": "main", "index": 0 }]]
    },
    "Extract Items": {
      "main": [[{ "node": "Loop Through Articles", "type": "main", "index": 0 }]]
    },
    "Loop Through Articles": {
      "main": [
        [{ "node": "Check If Exists", "type": "main", "index": 0 }],
        [{ "node": "Loop Through Sources", "type": "main", "index": 0 }]
      ]
    },
    "Check If Exists": {
      "main": [[{ "node": "Is New Article?", "type": "main", "index": 0 }]]
    },
    "Is New Article?": {
      "main": [[{ "node": "Score Article", "type": "main", "index": 0 }]]
    },
    "Score Article": {
      "main": [[{ "node": "Prepare Research Item", "type": "main", "index": 0 }]]
    },
    "Prepare Research Item": {
      "main": [[{ "node": "Insert Research Item", "type": "main", "index": 0 }]]
    },
    "Insert Research Item": {
      "main": [[{ "node": "Loop Through Articles", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["content-os", "research"],
  "triggerCount": 0,
  "versionId": "2.0"
}
